<html>
<head>
<title>Pepe Games</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="prueba.js"></script>
</head>

<body data-ng-app="GameApp" data-ng-controller="GameController">
	<div class="principal">
		<div class="header">
			<div class=header-content>
				<p>Alias</p>
			</div>
			<div class=header-content>
				<p>Recuadro</p>
			</div>
			<div class=header-content>
				<p>Recuadro2</p>
			</div>
		</div>
		<div class="content">
			<div class="content-text">
				<h3>PEPE GAMES</h3>
				<p>
					<strong>Iniciar Sesión</strong>
				</p>
			</div>
			<div class="content-form">
				<form>
					<input type="text" id="UserName" data-ng-model="userName"
						placeholder="user name" value="User"><br> <input
						type="password" id="Pwd" data-ng-model="pwd"
						placeholder="password" value="User123"><br>
					<div class="inside-form">
						<p>
							¿No tienes cuenta? <a href="registryPrueba.html">Registrate</a>
						</p>
						<button data-ng-click="login()">Entrar</button>
						<label data-ng-bind="estado"></label>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>

<title>Pepe Gamess</title>


<script src="index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:200i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<link rel="stylesheet" href="estilos/main.css">

</html>
