.cambioContent{
    width: 40%;
    margin: auto;
    height: 600px;
    color:fff;
    background-color: rgb(50, 55, 60);
}
.cambioPwdContent, .cambioFotoContent{
    width: 70%;
    margin: auto;
    display: block;
}
.cambioFotoContent{
    margin-top: 40px;
}
.cambioPwdContentButton{
    width: 100%;
}
#btnCambio, #btnGuardar {
    float: right;
}

@media(max-width:800px){
	.header-content{
	height: 200px;
	}
	.cambioContent{
    width: 80%;
    }.
}