.body {
	margin: 0;
	background-color: lightsteelblue
}

.content-text {
	color: white;
}

.ppttableCont {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.tablejugadas {
	margin-left: auto;
	margin-right: auto;
}

.enc_table {
	background-color: darkgreen;
	color: white;
	height: 40px;
}

.celdaj {
	background-color: yellowgreen;
	color: white;
}

.seleccion {
	width: 50%;
	margin: auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.selj {
	width: auto;
	margin: auto;
	border-color: black;
	border: 6px solid darkblue;
}

.opcionesPpt {
	width: 50%;
	margin: auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.btnPpt {
	width: auto;
	margin: auto;
	border: 6px solid #0074a5;
	border-top: 1px solid #004370;
	border-left: 1px solid #004370;
}

.btnPpt img {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.opcionesPpt {
		width: 80%;
	}
}

@media screen and (max-width: 750px) {
	.celdaj {
		width: 130px;
	}
	.celda {
		width:130px;
	}
	.enc_table {
		width:130px;
	}
}

@media screen and (max-width: 645px) {
	.opcionesPpt {
		width: 50%;
	}
}
@media screen and (max-width: 580px) {
	.celdaj {
		width: 85px;
	}
	.celda {
		width:85px;
	}
	.enc_table {
		width:85px;
	}
}
