.header {
    width: 100%;
    height: 100px;
    display:flex;
    flex-wrap:wrap;
    background: rgb(34, 38, 41);
    color: fff;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
}
.header-foto{
  width:20%;
}
#imgFoto{	
	width:100%;
	max-height: 102px;
}
.header-content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    background: rgb(34, 38, 41);
    max-height: 102px;
    color: fff;
    font-family: 'Raleway', sans-serif;
}
.parrafoHeader{
  width: 33%;
}
.content2{
    width: 98%;
    /*height: 100%;*/
    margin: auto;
    margin-top: 120px;
    border: 1px solid white;
    background: rgb(50, 55, 60);
    color: white;
}
.content-salaEspera{
  width: 100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}
.salaChat{
  width: 34%;
  border: 1px solid gray;
}
.salaJuegos{
  width: 64%;
  border: 1px solid gray;
}
.JuegosContent {
	padding:10px;
}
.JuegosContent a{
 margin-left: 5%;
}
.chatContent{
  width: 97%;
  margin: auto;
}
.title{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

#chat{
  width: 100%;
  margin: auto;
  height: 50%;
}
.input-group{
  display: flex;
  flex-wrap: wrap;
}
#txtChat{
  width: 80%;
  margin: auto;
  height: 30px;
}
.input-group-btn{
  width: 20%;
}
.btn-primary{
  width: 100%;
  height: 30px;
}

@media ( max-width:1100px) {

#boton_ppt {
	width:250px;
	height:190px;
}
#boton_destape {
	width:250px;
	height:190px;
}
}
@media ( max-width:950px) {

#boton_ppt {
	width:200px;
	height:160px;
}
#boton_destape {
	width:200px;
	height:160px;
}
}
@media ( max-width:750px) {
	.parrafoHeader{
	width: 50%;
	margin:0px;
	font-size:15px;
	text-align: lefht;
	
	}
	.content-salaEspera{
  display: block;
}
.salaChat{
  width: 90%;
}
.chatContent{
	width:80%;
}
.salaJuegos{
  width: 90%;
 }

#boton_ppt {
	 display: block;
  margin-left: auto;
  margin-right: auto;
	width:280px;
	height:180px;

	padding-bottom:10px;
}
#boton_destape {
	width:280px;
	height:180px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
	
}
}