<html>

<head>
  <title>Pepe Games</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="registryPrueba.js"></script>
  <link rel="stylesheet" href="estilos/registry.css">
  <link rel="stylesheet" href="estilos/main.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

</head>

<body data-ng-app="GameApp" data-ng-controller="GameController">
  <div class="principal">
    <div class="header-reg">
      <p class="comicate" id="pg-reg">PEPE GAMES</p>
    </div>
    <div class="content">
      <div class="content-text">

        <h1 class="title">Registro</h1>
      </div>
      <div class="content-form">
        <form>
          <br>Correo electrónico<br>
          <input type="text" id="email" data-ng-model="email">
          <br>Nombre<br>
          <input type="text" id="userName" data-ng-model="userName" value="User">
          <br>Contraseña<br>
          <input type="password" id="pwd1" data-ng-model="pwd1" value="User123">
          <br>Repita la contraseña<br>
          <input type="password" id="pwd2" data-ng-model="pwd2" value="User123"><br>
          <div class="inside-form-reg">
            <div class="quest1">
              <p>¿Ya tienes una cuenta? <a href="index.html">Logueate</a></p>
            </div>
              <button data-ng-click="register()" class="btn-save">Guardar</button>
            </div>

            <label data-ng-bind="estado"></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>